.navbar{
    background: #fff;
    border: 0;
}

#navbar{
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 !important;
    height: 50px;
}

#navbar li{
    margin-left: 10px !important;
    margin-right:10px !important;
}
.navbar li a{
    color: #262319;
    text-transform: uppercase;
    font-size: 22px;
    height: 35px;
    background: #fff;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 1px !important;
    margin-right:1px !important;
    border: 0px solid red;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    
    
}

.wBorder{
    border-bottom: 3px solid #ef5c6e;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left:  0px;
    margin-right: 0px;

    
}

.nBorder{
    border-bottom: 0px solid black;
}

/*nav anim*/

.mtAnim:after{
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: #ef5c6e;
  content: "";
  transition: width 0.2s;
}

.mtAnim:hover{
  color: #ef5c6e;
}

.mtAnim:hover:after {
  width: 100%;
}