 <nav class="navbar navbar-inverse">
      
        <div id="navbar">
          <ul class="nav navbar-nav ">
            <li id="menu"><a [routerLink]="['/']" class="mtAnim">Home</a></li>
            <li id="menu"><a [routerLink]="['/works']" class="mtAnim">Portfólio</a></li>
            <li id="menu" *ngIf="!(user | async)"><a (click)="login()" class="mtAnim">Login</a></li>
            <li id="menu" *ngIf="(user | async)"><a (click)="logout()" class="mtAnim">Sair</a></li>
          </ul>
        </div>
 
    </nav>
