<section class="mt-showcase">
  <div class="container mt-body-body">
    <div class="grid">
      <div class="grid-item">
        <img src="http://placehold.it/342x340" class="t">
        <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  
      </div>
       <div class="grid-item"><img src="../../../assets/imgs/a.jpg"> <div class="grid-item-text">
            <h2><a href="#">Living Room</a></h2>
        </div>  </div>
       <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
        <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
         <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
          <div class="grid-item grid-item--heigth2"><img src="http://placehold.it/340x500"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
             <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
               <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
               <div class="grid-item"><img src="http://placehold.it/340x340"> <div class="grid-item-text">
            <h2>Titulo</h2>
        </div>  </div>
      <!--<div class="grid-item"><img src="http://placehold.it/300x180"></div>
      <div class="grid-item"><img src="http://placehold.it/290x180"></div>
      <div class="grid-item"><img src="http://placehold.it/320x180"></div>
      <div class="grid-item"><img src="http://placehold.it/280x500"></div>
      <div class="grid-item"><img src="http://placehold.it/280x180"></div>
      <div class="grid-item"><img src="http://placehold.it/280x180"></div>-->
    </div>
  </div>
</section>

<section class="mt-about">
  <div class="container">
    <div class="mt-header mt-header--d barra--2">
      <h1>Sobre Mim</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis metus non metus mattis hendrerit. Proin quis augue scelerisque, ultrices mi quis, eleifend justo. Donec luctus velit quis leo luctus, id rhoncus enim eleifend. Nunc dictum elit at rutrum porta. Nunc condimentum venenatis sapien, sed interdum ligula venenatis id. Proin lobortis consequat odio at auctor. Etiam dictum nisl vel ipsum scelerisque, et semper nisl suscipit. Nam faucibus felis orci, eget auctor tortor pretium a. Quisque ut neque enim. Suspendisse auctor ornare fringilla. Nam semper lorem orci, dignissim varius dolor pellentesque sit amet. Morbi pellentesque enim ut nulla maximus, sed pharetra quam tempor. Sed sit amet turpis efficitur, maximus nibh ut, malesuada diam.
    </p>
  </div>
</section>
<section class="mt-contato">
  <div class="container">
     
    <div class="mt-header barra--3 mt-header--2">
      <h1>Contato</h1>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis metus non metus mattis hendrerit.  </p>
    
    <div class="row mt-contato-form">
      <div class="modal" id="mt-wait">
          <img src="../../../assets/imgs/loading.gif">
      </div>
    <form id="submitEmail">
      <div class="col-md-6">
       
          <label>
            <input type="text" id="name" name="name" required>
            <div class="mt-contato-form-label-text">Seu Nome</div>
          </label>

          <label>
            <input type="text" id="email" name="_replyto" required>
            <div class="mt-contato-form-label-text" >Seu E-mail</div>
          </label>  
      </div>
      <div class="col-md6">
        <label>
            <textarea id="body" name="message" required></textarea>
            <div class="mt-contato-form-label-text--2">Assunto</div>
        </label>
      </div>
      <div class="col-md12">
        <button type="submit">Enviar</button> 
        <div class="mt-errors" id="mt-errors"></div>
      </div>
       
      </form>
    </div>
  
  </div>

</section>
