<section class="container">
  <div class="mt-header">
    <h1>Ultimos Trabalhos</h1>
  </div>
   
  <div class="mt-body-body">
    <div class="grid">
      <div class="grid-item"><img src="http://placehold.it/285x250"></div>
      <div class="grid-item"><img src="http://placehold.it/285x180"></div>
      <div class="grid-item"><img src="http://placehold.it/285x180"></div>
      <div class="grid-item"><img src="http://placehold.it/285x180"></div>
      <div class="grid-item"><img src="http://placehold.it/285x500"></div>
      <div class="grid-item"><img src="http://placehold.it/285x180"></div>
      <div class="grid-item"><img src="http://placehold.it/285x180"></div>
    </div>
  </div>
</section>

<section class="mt-about">
  <div class="container">
    <div class="mt-header mt-header--d barra--2">
      <h1>Sobre Mim</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis metus non metus mattis hendrerit. Proin quis augue scelerisque, ultrices mi quis, eleifend justo. Donec luctus velit quis leo luctus, id rhoncus enim eleifend. Nunc dictum elit at rutrum porta. Nunc condimentum venenatis sapien, sed interdum ligula venenatis id. Proin lobortis consequat odio at auctor. Etiam dictum nisl vel ipsum scelerisque, et semper nisl suscipit. Nam faucibus felis orci, eget auctor tortor pretium a. Quisque ut neque enim. Suspendisse auctor ornare fringilla. Nam semper lorem orci, dignissim varius dolor pellentesque sit amet. Morbi pellentesque enim ut nulla maximus, sed pharetra quam tempor. Sed sit amet turpis efficitur, maximus nibh ut, malesuada diam.
    </p>
  </div>
</section>
<section class="mt-contato">
  <div class="container">
    <div class="mt-header barra--2 mt-header--2">
      <h1>Contato</h1>
    </div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis metus non metus mattis hendrerit.  </p>
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <form>
          <div class="form-group">
            <label for="name">Seu Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Digite seu nome">
          </div>
          <div class="form-group">
            <label for="email">Seu E-mail</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
          </div>
          <div class="form-group">
            <label for="subject">Assunto</label>
            <input type="text" class="form-control" id="subject" placeholder="Digite o assunto">
          </div>
          <div class="form-group">
            <label for="phone">Tel.:</label>
            <input type="text" class="form-control" id="phone" placeholder="Digite o seu telefone">
          </div>
          <div class="form-group">
            <label for="body">Assunto</label>
            <textarea class="form-control" id="body" placeholder="Digite a mensagem"></textarea>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-md-5">
        ss
      </div>
    </div>
  
  </div>

</section>