<section class="mt-login">
     <div class="container">
        <div class="mt-header mt-header-2 barra">
          <h1>Login</h1>
        </div>
        <div class="row mt-login-form">
          <form id="submitLogin" (submit)="onSubmitLogin()">
            <div class="col-lg-6 col-lg-offset-3">
                <label>
                  <input type="text" id="email" name="email" [(ngModel)]="email" required>
                  <div class="mt-contato-form-label-text">E-Mail</div>
                </label>
                  <label>
                  <input type="password" id="password" name="password" [(ngModel)]="password" required>
                  <div class="mt-contato-form-label-text">Password</div>
                </label>
                <button type="submit">Enviar</button> 
                <div class="mt-errors" id="mt-errors"></div>
            </div>
               
          </form>
        </div> 
     </div>  
</section>