.mt-login{
  background-color: #ededed;
  padding-bottom: 80px;
  margin-top: 10px;
  padding-top: 60px;
  border-top: 1px solid #d6d5da;
}

.mt-login-form{
    margin-top: 80px;
}

form {
  text-align: center;
}

label{
  display: block;
  padding-top:30px;
  letter-spacing: 1px;
  text-align: center;
}


label .mt-contato-form-label-text{
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
   cursor: text;

}


label input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(59,62,25, .6);
  color: #C09A73;
  font-size: 34px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 400px;
}

label input:focus{
   width: 500px;
}



label input:focus + .mt-contato-form-label-text{
  -moz-transform: translateY(-76px);
  -ms-transform: translateY(-76px);
  -webkit-transform: translateY(-76px);
  transform: translateY(-76px);
  font-size: 13px;
}

label input:valid + .mt-contato-form-label-text{
  font-size: 13px;
  -moz-transform: translateY(-76px);
  -ms-transform: translateY(-76px);
  -webkit-transform: translateY(-76px);
  transform: translateY(-76px);
}



button{
  background-color: rgba(38,35,25, .7);
  border: 1px solid #F2E4CA;
  color: #F2E4CA;
  cursor: pointer;
  font-size: 20px;
  margin-top: 50px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
  
}

button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}