/* You can add global styles to this file, and also import other style files */
html{
  
}


body{
  font-family: 'Josefin Sans', sans-serif;
}

.mtBorder{
  border: 1px solid red;
}

.mt-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.6); /* Black w/ opacity */
    
}


.mt-header {
    margin: 0px 100px 0px 100px;
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 4px solid #ef5c6e;
    
}

.barra--2 {
  border-bottom: 4px solid #fff;
}

.barra--3{
  border-bottom: 4px solid #F2E4CA;
}

.mt-header h1{
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3f4f5e;
}

.mt-header--2 h1 {
  text-align: left;
  font-weight: bolder;
  color: #F2E4CA;
  
}


.mt-header--d h1 {
  text-align: right;
  color: #fff;
}

.mt-controllers{
  width: 70%;
  margin: 0 auto;
  margin: 30px auto 0 auto;
}